In [1]:
pwd

'C:\\Users\\go121\\practice_jupyter\\py\\데이터분석 및 시각화\\05 크롤링_01'

In [24]:
from bs4 import BeautifulSoup as bs
import pandas as pd

In [3]:
ex2 = ''' 
<html> 
    <head> 
        <h1> 사야할 과일 
    </head> 
    <body> 
        <h1> 시장가서 사야할 과일 목록 
            <div>
                <p id='fruits1' class='name1' title='바나나'> 바나나 
                    <span class = 'price'> 3000원 </span> 
                    <span class = 'count'> 10개 </span> 
                    <span class = 'store'> 바나나가게 </span> 
                    <a href = 'https://www.banana.com'> banana.com </a> 
                </p>
            </div> 
            <div>
                <p id='fruits2' class='name2' title='체리'> 체리 
                    <span class = 'price'> 100원 </span> 
                    <span class = 'count'> 50개 </span> 
                    <span class = 'store'> 체리가게</span> 
                    <a href = 'https://www.cherry.com'> cherry.com </a>
                </p> 
            </div> 
            <div>
                <p id='fruits3' class='name3' title='오렌지'> 오렌지
                    <span class = 'price'> 500원 </span> 
                    <span class = 'count'> 20개 </span> 
                    <span class = 'store'> 오렌지가게</span> 
                    <a href = 'https://www.orange.com'> orange.com </a>
                </p> 
            <div> 
    </body> 
</html> '''

In [4]:
soup = bs(ex2, 'html')

In [5]:
soup

<html>
<head>
<h1> 사야할 과일
    </h1></head>
<body>
<h1> 시장가서 사야할 과일 목록
            <div>
<p class="name1" id="fruits1" title="바나나"> 바나나
                    <span class="price"> 3000원 </span>
<span class="count"> 10개 </span>
<span class="store"> 바나나가게 </span>
<a href="https://www.banana.com"> banana.com </a>
</p>
</div>
<div>
<p class="name2" id="fruits2" title="체리"> 체리
                    <span class="price"> 100원 </span>
<span class="count"> 50개 </span>
<span class="store"> 체리가게</span>
<a href="https://www.cherry.com"> cherry.com </a>
</p>
</div>
<div>
<p class="name3" id="fruits3" title="오렌지"> 오렌지
                    <span class="price"> 500원 </span>
<span class="count"> 20개 </span>
<span class="store"> 오렌지가게</span>
<a href="https://www.orange.com"> orange.com </a>
</p>
<div>
</div></div></h1></body>
</html>

In [6]:
# 법위를 좁힌다(id='fruits2') -> 클래스 속성을 이용하여 해당 태그를 찾는다.
soup.find(id='fruits2').find('span', 'count').text

' 50개 '

In [19]:
soup.select_one('p#fruits2 span.count').text

' 50개 '

In [8]:
soup.find_all('span', 'count')

[<span class="count"> 10개 </span>,
 <span class="count"> 50개 </span>,
 <span class="count"> 20개 </span>]

In [9]:
[i.text for i in soup.find_all('span', 'count')]

[' 10개 ', ' 50개 ', ' 20개 ']

In [10]:
soup.select('span.count')

[<span class="count"> 10개 </span>,
 <span class="count"> 50개 </span>,
 <span class="count"> 20개 </span>]

In [11]:
[i.text for i in soup.select('span.count')]

[' 10개 ', ' 50개 ', ' 20개 ']

In [12]:
soup.find_all('a')

[<a href="https://www.banana.com"> banana.com </a>,
 <a href="https://www.cherry.com"> cherry.com </a>,
 <a href="https://www.orange.com"> orange.com </a>]

In [13]:
soup.find_all('a')[0]['href']

'https://www.banana.com'

In [15]:
[i['href'] for i in soup.find_all('a')]

['https://www.banana.com', 'https://www.cherry.com', 'https://www.orange.com']

In [18]:
soup.find(id='fruits1')['class'][0]

'name1'

In [22]:
[i.text for i in soup.find_all('a')]
[i['href'] for i in soup.find_all('a')]

[' banana.com ', ' cherry.com ', ' orange.com ']

In [23]:
[i['href'] for i in soup.find_all('a')]

['https://www.banana.com', 'https://www.cherry.com', 'https://www.orange.com']

In [27]:
res = []
for i in soup.select('a'):
    link = i['href']
    title = i.text
    res.append([link,title])
pd.DataFrame(res)

                        0             1
0  https://www.banana.com   banana.com
1  https://www.cherry.com   cherry.com
2  https://www.orange.com   orange.com

In [28]:
soup.select('a')

[<a href="https://www.banana.com"> banana.com </a>,
 <a href="https://www.cherry.com"> cherry.com </a>,
 <a href="https://www.orange.com"> orange.com </a>]

In [30]:
res = []
for i in soup.select('a'):
    tmp = {}
    tmp['title'] = i.text
    tmp['link'] = i['href']
    res.append(tmp)

print(res)
pd.DataFrame(res)

[{'title': ' banana.com ', 'link': 'https://www.banana.com'}, {'title': ' cherry.com ', 'link': 'https://www.cherry.com'}, {'title': ' orange.com ', 'link': 'https://www.orange.com'}]

          title                    link
0   banana.com   https://www.banana.com
1   cherry.com   https://www.cherry.com
2   orange.com   https://www.orange.com