In [1]:
from bs4 import BeautifulSoup as bs
import pandas as pd

In [2]:
ex2 = ''' 
<html> 
    <head> 
        <h1> 사야할 과일 
    </head> 
    <body> 
        <h1> 시장가서 사야할 과일 목록 
            <div>
                <p id='fruits1' class='name1' title='바나나'> 바나나 
                    <span class = 'price'> 3000원 </span> 
                    <span class = 'count'> 10개 </span> 
                    <span class = 'store'> 바나나가게 </span> 
                    <a href = 'https://www.banana.com'> banana.com </a> 
                </p>
            </div> 
            <div>
                <p id='fruits2' class='name2' title='체리'> 체리 
                    <span class = 'price'> 100원 </span> 
                    <span class = 'count'> 50개 </span> 
                    <span class = 'store'> 체리가게</span> 
                    <a href = 'https://www.cherry.com'> cherry.com </a>
                </p> 
            </div> 
            <div>
                <p id='fruits3' class='name3' title='오렌지'> 오렌지
                    <span class = 'price'> 500원 </span> 
                    <span class = 'count'> 20개 </span> 
                    <span class = 'store'> 오렌지가게</span> 
                    <a href = 'https://www.orange.com'> orange.com </a>
                </p> 
            </div>
    </body> 
</html> '''

soup = bs(ex2, "html")

In [3]:
종류 = soup.find_all('div')
종류

[<div>
 <p class="name1" id="fruits1" title="바나나"> 바나나
                     <span class="price"> 3000원 </span>
 <span class="count"> 10개 </span>
 <span class="store"> 바나나가게 </span>
 <a href="https://www.banana.com"> banana.com </a>
 </p>
 </div>,
 <div>
 <p class="name2" id="fruits2" title="체리"> 체리
                     <span class="price"> 100원 </span>
 <span class="count"> 50개 </span>
 <span class="store"> 체리가게</span>
 <a href="https://www.cherry.com"> cherry.com </a>
 </p>
 </div>,
 <div>
 <p class="name3" id="fruits3" title="오렌지"> 오렌지
                     <span class="price"> 500원 </span>
 <span class="count"> 20개 </span>
 <span class="store"> 오렌지가게</span>
 <a href="https://www.orange.com"> orange.com </a>
 </p>
 </div>]

In [4]:
res = []
for i in 종류:
    tmp = {}
    tmp['품명'] = i.find('p')['title'].strip()
    tmp['가격'] = int(i.find('span', 'price').text.strip().replace('원',''))
    tmp['개수'] = int(i.find('span', 'count').text.strip().replace('개',''))
    tmp['거래처'] = i.find('span', 'store').text.strip()
    tmp['거래처링크'] = i.find('a')['href'].strip()
    res.append(tmp)
pd.DataFrame(res)

    품명    가격  개수    거래처                   거래처링크
0  바나나  3000  10  바나나가게  https://www.banana.com
1   체리   100  50   체리가게  https://www.cherry.com
2  오렌지   500  20  오렌지가게  https://www.orange.com