In [102]:
pwd

'C:\\Users\\zcode\\Desktop\\py\\데이터분석 및 시각화\\01판다스'

In [103]:
import pandas as pd

In [104]:
df = pd.read_csv('./data/seoul_house_price.csv')
print(df.shape)
df.head()

(4505, 5)

  지역명               규모구분    연도   월 분양가격(㎡)
0  서울                 전체  2015  10    5841
1  서울         전용면적 60㎡이하  2015  10    5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4  서울        전용면적 102㎡초과  2015  10    5879

In [106]:
df.dtypes

지역명        object
규모구분       object
연도          int64
월           int64
분양가격(㎡)    object
dtype: object

In [110]:
df.columns = ['지역', '규모', '연도', '월', '분양가격']

In [111]:
df

      지역                 규모    연도   월  분양가격
0     서울                 전체  2015  10  5841
1     서울         전용면적 60㎡이하  2015  10  5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4     서울        전용면적 102㎡초과  2015  10  5879
...   ..                ...   ...  ..   ...
4500  제주                 전체  2020   2  3955
4501  제주         전용면적 60㎡이하  2020   2  4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2  3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2   NaN
4504  제주        전용면적 102㎡초과  2020   2  3601

[4505 rows x 5 columns]

In [120]:
# 분양가격에 에러나는 모든 데이터를 수집하세요 (try~except~)
res = []
for i in list(df['분양가격']):
    try :
        res.append(int(i))
    except :
        res.append(None)
print(res)
df['분양가격'] = res

[5841, 5652, 5882, 5721, 5879, 3163, 3488, 3119, 3545, 3408, 3138, 3126, 3239, 3496, 3680, 3112, 2950, 2999, 2957, 3500, 2682, 2614, 2696, 2557, 2598, 2420, 2253, 2439, None, None, 2454, 2585, 2428, 2461, None, 3053, 2422, 3040, 2951, 2690, 2642, 2572, 2657, 2644, 2692, 2167, 2286, 2212, 2061, 2171, 2032, 1919, 2033, 2102, 2369, 2099, 2206, 2101, 2743, 2442, 2054, 2127, 2056, 2377, 2250, 1925, 1999, 1922, 2262, 2292, 2148, 2204, 2145, 2308, 2222, 2291, 2239, 2305, 2890, 3014, 2232, None, 2225, 2583, 2574, 6050, 6320, 5964, 7092, 6551, 3184, 3328, 3119, 3545, 3408, 3098, 3079, 3202, 3391, 3724, 3131, 2982, 3037, 2957, 3739, 2749, 2503, 2806, 2557, 2743, 2424, 2251, 2444, None, None, 2454, 2585, 2428, 2461, None, 3043, 2584, 3048, 2663, 2874, 2648, 2572, 2666, 2644, 2749, 2171, 2292, 2193, 2061, 2171, 2004, 1921, 2015, 1868, 2277, 2100, 2214, 2105, 2523, 2468, 2057, 2129, 2057, 2377, 2282, 1909, 1999, 1906, 2262, 2176, 2190, 2210, 2186, 2516, 2370, 2298, 2200, 2322, 2980, 3043, 2232, None, 2225, 2583, 2574, 6041, 6321, 5966, 6513, 6551, 3184, 3328, 3119, 3545, 3408, 3198, 3293, 3314, 3449, 3850, 3127, 2951, 3032, 2957, 3739, 2962, 3282, 2971, 2532, 2743, 2476, 2395, 2489, None, None, 2454, 2585, 2428, 2461, None, 3043, 2584, 3048, 2663, 2874, 2665, 2601, 2676, 2661, 2752, 2171, 2292, 2193, 2061, 2171, 2005, 1941, 2017, 2276, 2261, 2269, 2438, 2279, 2523, 2444, 1983, 1925, 1987, 2377, 2282, 1909, 1999, 1906, 2262, 2176, 2181, 2178, 2184, 2516, 2370, 2307, 2280, 2329, 2934, 3019, 2268, None, 2260, 2583, 2574, 6108, 6427, 6036, 6513, 6551, 3191, 3328, 3110, 3545, 3408, 3198, 3293, 3313, 3450, 3850, 3152, 2951, 3057, 2957, 3812, 3086, 3341, 3103, 2532, 2743, 2569, 2395, 2582, None, None, 2454, 2585, 2428, 2461, None, 3046, 2584, 3053, 2663, 2874, 2665, 2601, 2676, 2661, 2752, 2173, 2290, 2199, 2061, 2171, 2008, 1952, 2021, 2276, 2261, 2270, 2481, 2281, 2541, 2444, 1980, 1908, 1987, 2377, 2282, 1909, 1999, 1906, 2262, 2176, 2181, 2178, 2185, 2516, 2346, 2327, 2270, 2348, 2925, 2828, 2268, None, 2260, 2583, 2574, 6111, 6438, 6039, 6513, 6458, 3192, 3328, 3112, 3545, 3408, 3219, 3294, 3268, 3381, 3669, 3154, 2999, 3060, 2957, 3812, 3064, 3341, 3079, 2532, 2743, 2569, 2395, 2582, None, None, 2454, 2585, 2428, 2461, None, 3046, 2584, 3053, 2663, 2874, 2665, 2601, 2676, 2661, 2752, 2173, 2290, 2200, None, 2350, 2008, 1952, 2021, 2276, 2261, 2272, 2496, 2282, 2541, 2444, 1980, 1908, 1987, 2377, 2283, 1923, 1999, 1921, 2262, 2176, 2179, 2172, 2191, 2532, 2346, 2358, 2361, 2375, 2925, 2673, 2268, None, 2260, 2583, 2574, 6173, 6550, 6127, 7179, 6371, 3190, 3323, 3111, 3545, 3408, 3215, 3441, 3259, 3363, 3680, 3178, 2951, 3102, 2957, 3727, 3119, 3341, 3154, 2539, 2743, 2590, 2470, 2601, None, None, 2454, 2585, 2428, 2461, None, 3066, 2584, 3075, 2663, 3057, 2670, 2601, 2681, 2670, 2752, 2194, 2249, 2221, None, 2350, 1980, 1925, 2021, 2276, 2261, 2115, 2226, 2114, 2541, 2444, 1951, 1910, 1959, 2269, 2293, 1921, 2002, 1919, 2262, 2176, 2179, 2173, 2191, 2675, 2314, 2383, 2366, 2392, 3053, 2645, 2314, None, 2314, None, None, 6241, 6618, 6196, 8096, 6353, 3238, 3323, 3147, 3545, 4839, 3199, 3400, 3243, 3395, 3611, 3169, 2973, 3087, 2930, 3727, 3132, 3341, 3168, 2539, 2743, 2700, 2600, 2696, 2754, 3518, 2449, 2529, 2425, None, None, 3072, 2586, 3076, 2663, 2967, 2680, 2656, 2699, 2654, 2714, 2140, 2143, 2183, None, 2350, 1968, 1915, 2010, 2276, 2261, 2169, 2295, 2160, 2541, 2638, 1909, 1900, 1916, 2269, 2380, 1925, 1989, 1923, 2262, 2176, 2177, 2171, 2189, 2675, 2314, 2391, 2413, 2389, 3176, 2660, 2719, 2853, 2752, 2725, 2602, 6264, 6638, 6205, 7725, 6353, 3179, 3323, 3147, 3367, 4192, 3443, 3720, 3443, 3370, 3956, 3148, 2977, 3071, 3096, 3536, 3132, 3385, 3166, 2539, 2743, 2722, 2567, 2723, 2754, 3518, 2465, 2582, 2427, None, None, 3077, 2600, 3080, 2663, 2967, 2680, 2656, 2699, 2654, 2714, 2117, 2113, 2150, None, 2289, 1980, 1925, 2024, 2276, 2271, 2166, 2301, 2150, 2554, 2638, 1945, 1909, 1955, 2269, 2322, 1927, 1989, 1925, 2262, 2176, 2176, 2171, 2189, 2675, 2323, 2381, 2423, 2380, 3278, 2741, 2691, 2853, 2712, 2708, 2605, 6208, 6562, 6218, 7732, 6365, 3204, 2981, 3353, 3453, 3576, 3542, 3781, 3539, 3334, 4073, 3150, 2972, 3069, 3253, 3723, 3134, 3385, 3165, 2839, 2743, 2737, 2567, 2743, 2754, 3518, 2562, 2648, 2547, None, None, 3069, 2557, 3074, 2663, 2967, 2683, 2715, 2704, 2660, 2610, 2104, 2099, 2136, None, 2339, 2047, 2007, 2108, 2276, 2243, 2198, 2299, 2188, 2614, 2749, 1931, 1909, 1940, 2269, 2322, 1968, 1989, 1964, 2364, 2264, 2238, 2133, 2256, 2675, 2526, 2389, 2463, 2382, 3052, 2740, 2827, 2853, 2730, 3107, 2605, 6254, 6611, 6399, 7732, 6373, 3222, 2970, 3272, 3454, 3599, 3531, 3785, 3531, 3344, 4124, 3158, 2999, 3081, 3297, 3874, 3130, 3385, 3153, 2884, 2743, 2742, 2567, 2748, 2754, 3518, 2562, 2648, 2547, None, None, 3069, 2557, 3074, 2663, 2967, 2687, 2715, 2713, 2664, 2589, 2101, 2069, 2139, None, 2339, 2075, 2044, 2150, 2276, 2243, 2198, 2299, 2188, 2614, 2749, 1929, 1924, 1936, 2290, 2323, 1968, 1989, 1965, 2364, 2264, 2248, 2114, 2265, 2675, 2526, 2375, 2432, 2370, 3052, 2740, 2827, 2853, 2730, 3107, 2605, 6285, 6592, 6424, 7270, 6603, 3235, 3007, 3289, 3454, 3632, 3561, 3788, 3552, 3303, 4046, 3185, 3051, 3101, 3383, 3874, 3147, 3182, 3154, 3045, 3045, 2726, 2567, 2728, 2754, 3518, 2562, 2648, 2547, None, None, 2976, 2557, 2990, 2663, 2967, 2694, 2715, 2735, 2664, 2585, 2098, 2073, 2132, None, 2402, 2124, 2044, 2149, 2321, 2243, 2235, 2328, 2225, 2614, 2765, 1929, 1929, 1936, 2290, 2323, 1966, 1989, 1963, 2364, 2264, 2238, 2106, 2248, 2630, 2576, 2384, 2432, 2381, 3028, 2759, 2878, 2853, 2768, 3107, 2605, 6283, 6565, 6412, 7415, 6571, 3168, 3002, 3121, 3366, 3632, 3360, 3444, 3316, 3280, 4079, 3200, 3047, 3107, 3383, 3874, 3147, 3182, 3154, 3045, 3045, 2721, 2567, 2724, 2754, 3087, 2517, 2602, 2492, None, None, 2976, 2557, 2990, 2663, 2967, 2689, 2698, 2738, 2665, 2638, 2100, 2075, 2135, None, 2380, 2125, 2044, 2153, 2321, 2243, 2236, 2328, 2225, 2614, 2765, 1925, 1935, 1930, 2297, 2323, 1972, 1997, 1966, 2364, 2264, 2251, 2118, 2263, 2630, 2550, 2391, 2429, 2387, 2844, 2736, 3083, 4091, 2994, 3157, 3082, 6400, 6661, 6537, 7400, 7241, 3198, 3041, 3153, 3311, 4201, 3431, 3508, 3389, 3305, 4219, 3097, 3070, 3087, 3395, 3840, 3147, 3182, 3154, 3045, 3045, 2725, 2568, 2728, 2754, 3087, 3066, 3013, 3072, 2600, 4328, 3205, 2557, 3223, 2663, 3033, 2700, 2778, 2709, 2687, 2651, 2137, 2111, 2138, 2031, 2191, 2098, 2078, 2169, 2684, 2247, 2247, 2290, 2243, 2614, 2765, 1927, 1942, 1933, 2305, 2324, 1982, 2058, 1984, 2467, 2157, 2294, 2277, 2302, 2653, 2544, 2412, 2495, 2406, 2870, 2638, 3083, 4091, 2994, 3157, 3082, 6370, 6695, 6508, 6749, 6350, 3151, 3121, 3153, 3311, 4201, 3546, 3650, 3497, 3439, 4230, 3083, 3039, 3070, 3395, 3840, 3109, 3182, 3114, 3045, 5014, 2775, 2559, 2784, 2817, 3273, 2685, 2671, 2660, 2600, 4328, 3260, 2842, 3274, None, 3195, 2702, 2778, 2709, 2687, 2670, 2071, 2017, 2073, 2031, 2191, 2125, 2082, 2144, 2711, 2221, 2277, 2322, 2278, 2926, 2685, 1928, 1942, 1934, 2305, 2321, 2056, 2058, 2058, 2467, 2262, 2294, 2290, 2303, 2690, 2499, 2359, 2496, 2351, 2872, 2621, 3107, 4091, 3024, 3157, 3082, 6443, 6713, 6492, 7030, 6771, 3132, 3181, 3137, 3275, 4201, 3555, 3602, 3508, 3360, 4229, 3253, 3030, 3249, 3354, 4214, 3144, 3500, 3151, 3045, 5014, 2783, 2557, 2794, 2817, 3273, 2685, 2671, 2660, 2600, 4328, 3260, 2858, 3272, None, 3177, 2705, 2769, 2706, 2676, 2673, 2087, 2085, 2085, 2248, 2247, 2081, 2099, 2100, 2855, 2362, 2274, 2355, 2273, 2926, 2685, 2004, 2265, 2004, 2305, 2321, 2078, 2058, 2074, 2467, 2319, 2311, 2327, 2314, 2690, 2499, 2388, 2478, 2380, 2872, 2621, 3132, 4091, 3048, 3157, 3082, 6450, 6662, 6500, 7030, 6771, 3132, 3181, 3137, 3275, 4201, 3554, 3609, 3508, 3360, 4229, 3244, 3030, 3240, 3354, 4214, 3121, 3608, 3129, 3045, 5014, 2778, 2557, 2790, 2817, 3273, 2685, 2671, 2660, 2600, 4328, 3260, 2858, 3272, None, 3177, 2705, 2769, 2706, 2676, 2673, 2085, 2084, 2083, 2213, 2246, 2105, 2142, 2124, 2855, 2362, 2235, 2335, 2236, 2963, 2679, 2006, 2315, 2004, 2305, 2321, 2078, 2058, 2074, 2467, 2319, 2312, 2328, 2315, 2690, 2540, 2390, 2478, 2382, 2872, 2623, 3124, 4091, 3036, 3157, 3082, 6464, 6668, 6522, 6655, 6893, 3167, 3197, 3171, 3275, 4201, 3607, 3652, 3562, 3454, 4296, 3243, 3030, 3239, 3354, 4214, 3158, 3608, 3167, 3045, 5014, 2778, 2557, 2790, 2817, 3273, 2721, 2776, 2681, 2600, 4328, 3263, 2858, 3274, None, 3177, 2705, 2769, 2706, 2676, 2673, 2090, 2082, 2090, 2221, 2251, 2044, 2049, 2061, 2855, 2358, 2236, 2335, 2238, 2963, 2679, 2009, 2346, 1987, 2305, 2300, 2093, 2058, 2096, 2467, 2319, 2307, 2340, 2306, 2690, 2540, 2384, 2575, 2375, 2872, 2716, 3134, 4038, 3042, 3157, 3082, 6370, 6570, 6420, 6457, 6709, 3179, 3268, 3177, 3275, 4201, 3632, 3773, 3585, 3527, 4321, 3290, 3123, 3273, 3354, 3931, 3200, 3848, 3208, 3216, 5014, 2783, 2448, 2798, 2817, 3273, 2721, 2776, 2681, 2600, 4328, 3263, 2858, 3274, None, 3177, 2705, 2769, 2706, 2676, 2673, 2068, 2072, 2070, 2221, 2251, 1976, 2155, 1983, 2855, 2358, 2237, 2335, 2239, 2963, 2679, 2044, 2350, 2040, 2321, 2315, 2090, 2151, 2094, 2379, 2307, 2291, 2342, 2286, 2690, 2606, 2407, 2520, 2397, 2872, 2657, 3097, 4038, 3038, 3157, 3082, 6366, 6570, 6414, 6457, 6712, 3179, 3268, 3177, 3275, 4201, 3604, 3812, 3552, 3608, 4273, 3289, 3089, 3307, 3354, 3931, 3179, 3848, 3182, 3216, 4712, 2854, 2448, 2852, 2880, 3358, 2739, 2849, 2685, 2600, 4328, 3578, 2904, 3591, None, 3137, 2729, 2769, 2698, 2787, 2713, 2068, 2072, 2070, 2221, 2251, 2040, 2155, 2045, 2563, 2333, 2221, 2330, 2228, 2963, 2758, 2105, 2350, 2101, 2321, 2315, 2106, 2151, 2110, 2379, 2307, 2318, 2390, 2307, 2690, 2606, 2401, 2554, 2391, 2872, 2659, 3323, 4630, 3196, 3271, 3830, 6400, 6592, 6461, 6408, 6675, 3291, 3268, 3290, 3392, 4256, 3474, 3628, 3462, 3591, 4045, 3549, 3136, 3626, 3013, 3928, 3179, 3848, 3182, 3216, 4712, 2890, None, 2877, 2880, 3358, 2739, 2849, 2685, 2600, 4328, 3578, 2904, 3591, None, 3137, 2729, 2769, 2698, 2787, 2713, 2084, 2096, 2084, 2221, 2282, 2050, 2162, 2048, 2563, 2564, 2222, 2327, 2229, 2963, 2758, 2130, 2322, 2127, 2321, 2373, 2165, 2151, 2169, 2379, 2307, 2363, 2390, 2358, 2690, 2667, 2418, 2534, 2407, 2873, 2661, 3459, 4630, 3301, 4158, 4800, 6667, 6460, 6435, 7126, 6949, 3326, 3268, 3327, 3439, 4055, 3489, 3671, 3511, 3656, 4052, 3616, 3229, 3698, 3013, 3818, 3246, 3555, 3250, 3019, 4712, 2912, None, 2899, 2880, 3358, 2739, 2849, 2685, 2600, 4328, 3582, 2904, 3594, None, 3137, 2733, 2779, 2703, 2787, 2713, 2131, 2149, 2125, 2221, 2400, 2043, 2162, 2041, 2563, 2500, 2274, 2355, 2265, 2963, 2560, 2201, 2322, 2197, 2321, 2373, 2147, 2151, 2152, 2291, 2197, 2383, 2390, 2376, 2690, 2674, 2444, 2495, 2431, 3042, 2811, 3274, 4630, 3249, 4809, 4800, 6573, 6510, 6342, 7126, 6734, 3322, 3272, 3323, 3427, 4518, 3629, 3707, 3624, 3605, 4065, 3614, 3277, 3718, 3492, 3378, 3870, 3555, 3887, None, 4712, 2894, None, 2881, 2880, 3358, 2738, 2849, 2699, 2834, 4328, 3582, 2904, 3594, None, 3137, 2733, 2779, 2703, 2787, 2713, 2146, 2167, 2141, 2221, 2401, 2043, 2162, 2041, 2563, 2500, 2275, 2355, 2267, 2963, 2560, 2195, 2374, 2194, 2456, 2281, 2147, 2151, 2153, 2291, 2197, 2382, 2390, 2376, 2690, 2674, 2465, 2562, 2450, 3042, 2826, 3335, 5152, 3270, 4809, 4800, 6172, 6371, 5948, 7067, 6254, 3273, 3209, 3276, 3427, 4986, 3641, 3858, 3623, 3694, 4037, 3589, 3457, 3639, 3455, 3642, 3994, 3262, 3993, None, 4712, 2903, None, 2890, 2880, 3358, 2738, 2849, 2699, 2834, 4328, 3582, 2904, 3594, None, 3137, 2734, 2779, 2703, 2787, 2719, 2268, 2242, 2269, 2221, 2401, 2050, 2162, 2048, 2563, 2500, 2257, 2328, 2269, 2963, 2623, 2209, 2352, 2211, 2456, 2281, 2214, 2151, 2221, 2291, 2197, 2441, 2506, 2426, 2867, 2624, 2515, 2623, 2499, 3042, 2868, 3335, 5152, 3270, 4809, 4800, 6507, 6767, 5938, 7887, 6689, 3302, 3330, 3307, 3478, 4986, 3628, 3902, 3601, 3696, 4045, 3594, 3467, 3558, 3442, 3636, 3839, 3454, 3824, None, 4073, 2945, None, 2935, 2880, 3037, 2894, 3019, 2857, 2834, 4328, 3582, 2904, 3594, None, 3137, 2758, 2803, 2684, 2796, 2799, 2235, 2237, 2225, 2221, 2319, 2054, 2162, 2053, 2563, 2500, 2257, 2328, 2269, 2963, 2623, 2219, 2294, 2219, None, 2138, 2214, 2151, 2221, 2291, 2197, 2429, 2488, 2413, 2867, 2969, 2510, 2623, 2494, 3983, 3148, 3222, 5380, 3150, None, None, 6578, 6815, 5934, 7274, 6559, 3300, 3330, 3306, 3445, 4835, 3625, 3829, 3574, 3769, 4009, 3723, 3587, 3735, 3454, 3549, 3839, 3454, 3824, None, 4073, 2912, 2776, 2906, 2880, 3016, 2729, 2729, 2715, 3067, None, 3385, 2904, 3388, None, 2761, 2759, 2760, 2723, 2790, 2787, 2279, 2225, 2266, 2012, 2392, 2060, 2162, 2058, 2563, 2500, 2283, 2402, 2298, 2963, 2623, 2182, 2259, 2173, None, 2138, 2305, 2405, 2264, 2291, 2395, 2367, 2363, 2356, 2867, 2969, 2436, 2582, 2414, 2971, 2984, 3222, 5380, 3150, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 6706, 7005, 5868, 7478, 6916, 3318, 3354, 3324, 3478, 4835, 3617, 3829, 3552, 3696, 4131, 3842, 3737, 3803, 3692, 3869, 3561, 3466, 3564, None, 3543, 2896, 2776, 2890, None, 2865, 2706, 2628, 2690, 3067, None, 3162, None, 3162, None, None, 3161, None, 3164, 3099, 3227, 2302, 2203, 2293, 2239, 2699, 2077, 2203, 2076, 2271, 2504, 2357, 2506, 2373, None, 2283, 2226, 2259, 2215, 2221, 2433, 2400, 2427, 2382, 2291, 2423, 2390, 2407, 2383, None, 2985, 2696, 2784, 2666, 2914, 2836, 3578, 5380, 3467, None, 3029, 6623, 6898, 5857, 7478, 6916, 3333, 3376, 3324, 3478, 4835, 3846, 4119, 3793, 4350, 4632, 3842, 3737, 3803, 3692, 3869, 3585, 3521, 3587, None, 3543, 2894, 2776, 2887, None, 2865, 2744, 2628, 2750, 3067, None, 3162, None, 3162, None, None, 3161, None, 3164, 3099, 3227, 2324, 2216, 2322, 2591, 2704, 2077, 2203, 2076, 2271, 2504, 2394, 2421, 2409, None, 2283, 2226, 2259, 2215, 2221, 2433, 2400, 2427, 2380, 2459, 2458, 2441, 2525, 2435, None, 2867, 2696, 2784, 2666, 2914, 2836, 3636, 5380, 3512, None, 3029, 6631, 6907, 6373, 7495, 6909, 3342, 3433, 3338, 3478, 4835, 3876, 4246, 3826, 4351, 4655, 3850, 3744, 3812, 3692, 3869, 3364, 3521, 3365, None, 3543, 2894, 2776, 2887, None, 2865, 2887, 2498, 2882, 3067, None, 3174, None, 3174, None, None, 3161, None, 3164, 3099, 3227, 2323, 2252, 2320, 2595, 2856, 2166, 2348, 2165, 2271, 2485, 2394, 2421, 2409, None, 2283, 2273, 2183, 2261, 2221, 2428, 2356, 2228, 2337, 2459, 2418, 2441, 2525, 2435, None, 2867, 2698, 2784, 2673, 2914, 2836, 3829, 5462, 3542, None, 3029, 6836, 7193, 6553, 7823, 7242, 3457, 3754, 3448, 3395, 4835, 3876, 4248, 3826, 4270, 4641, 3817, 3654, 3789, 3692, 3830, 3392, 3521, 3404, None, 3543, 2930, 2776, 2924, None, 2865, 2887, 2498, 2882, 3067, None, 3174, None, 3174, None, None, 3161, None, 3164, 3099, 3227, 2391, 2269, 2387, 2830, 2923, 2455, 2348, 2456, 2471, 2482, 2394, 2421, 2409, None, 2283, 2263, 2183, 2250, 2221, 2428, 2348, 2228, 2336, 2627, 2443, 2440, 2525, 2421, None, 2788, 2697, 2787, 2672, 2857, 2897, 3925, 5462, 3639, None, 3029, 6841, 7196, 6560, 7823, 7242, 3457, 3754, 3448, 3395, 4835, 3859, 4256, 3836, 4345, 4595, 3863, 3654, 3835, 3692, 3830, 3524, 3607, 3526, 3012, 2966, 2885, 2776, 2890, None, 2453, 2972, 2498, 2977, 3067, None, 3174, None, 3174, None, None, 3131, 3064, 3147, 3138, 3135, 2277, 2269, 2273, 2830, 2611, 2631, 2348, 2631, 2671, 2680, 2394, 2421, 2409, None, 2283, 2317, 2602, 2292, 2636, 2794, 2355, 2228, 2345, 2627, 2469, 2440, 2471, 2422, None, 2788, 2690, 2738, 2669, 2857, 2862, 3925, 5462, 3639, None, 3029, 6919, 7318, 6630, 8098, 7252, 3436, 3454, 3567, 3470, 4835, 3987, 4425, 3994, 4445, 4517, 3853, 3704, 3822, 3705, 3840, 3651, 3634, 3646, 3012, 4539, 2906, 2776, 2911, None, 2453, 2972, 2498, 2977, 3067, None, 3174, None, 3174, None, None, 3131, 3064, 3147, 3138, 3135, 2289, 2269, 2280, 2864, 2631, 2636, 2348, 2636, 2725, 2683, 2453, 2416, 2465, None, 2537, 2326, 2664, 2300, 2636, 2794, 2356, 2228, 2346, 2627, 2469, 2628, 2471, 2611, None, 2864, 2695, 2738, 2673, 2857, 2862, 3925, 5462, 3639, None, 3029, 6694, 7232, 6739, 7591, 6905, 3372, 3454, 3537, 3229, None, 3927, 4501, 3926, 4565, 4330, 3884, 3737, 3873, 3705, 3844, 3669, 3669, 3665, 3012, 4430, 3000, 2776, 3004, None, 2453, 2972, 2498, 2977, 3067, None, 3125, None, 3125, None, None, 3131, 3064, 3147, 3138, 3135, 2292, 2282, 2287, 2864, 2592, 2386, 2286, 2382, 2725, 2773, 2467, 2452, 2467, 2657, 2580, 2326, 2664, 2300, 2636, 2794, 2356, 2228, 2346, 2627, 2469, 2631, 2471, 2614, None, 2903, 2695, 2744, 2673, 2857, 2862, 3925, 5462, 3639, None, 3029, 6820, 7360, 6910, 7591, 6914, 3372, 3454, 3537, 3229, None, 3952, 4578, 3943, 4662, 4573, 3950, 3734, 3933, 4004, 3875, 3712, 3722, 3716, 3577, 4040, 2935, 2776, 2939, None, 2453, 2939, 2498, 2946, None, None, 3125, None, 3125, None, None, 3131, 3064, 3147, 3138, 3135, 2312, 2284, 2309, 2864, 2665, 2390, 2286, 2386, 2725, 2719, 2467, 2452, 2467, 2657, 2580, 2333, 2655, 2306, 2636, 2850, 2357, 2228, 2348, 2627, 2469, 2674, 2471, 2654, None, 2903, 2696, 2748, 2673, 2857, 2839, 3334, None, 3356, 3226, 2990, 6731, 7117, 6806, 6652, 6477, 3343, 3456, 3505, 3229, None, 4070, 4459, 4105, 4877, 4692, 3972, 3809, 3946, 4004, 3783, 3726, 3724, 3723, 3577, 4040, 2935, 2776, 2939, None, 2453, 2939, 2498, 2946, None, None, 3125, None, 3125, None, None, 3148, 3064, 3147, 3138, 3220, 2324, 2401, 2323, 2864, 2665, 2390, 2286, 2386, 2725, 2719, 2446, 2491, 2451, 2657, 2729, 2311, 2655, 2285, 2636, 2850, 2357, 2228, 2348, 2627, 2469, 2603, 2477, 2610, None, 2810, 2661, 2786, 2630, 2857, 2745, 3334, None, 3356, 3226, 2990, 6994, 6631, 7183, 5061, 6538, 3343, 3456, 3505, 3229, None, 4094, 4384, 4122, 4874, 4696, 4090, 3863, 4073, 4456, 4173, 3740, 3756, 3746, 3698, 3961, 2931, 2776, 2931, None, 2655, 3367, 2498, 3366, None, 4877, 3125, None, 3125, None, None, 3148, 3064, 3147, 3138, 3220, 2329, 2405, 2327, 2864, 2665, 2384, 2286, 2380, 2725, 2719, 2446, 2491, 2451, 2657, 2729, 2311, 2655, 2285, 2636, 2850, 2352, 2228, 2348, 2627, 2519, 2643, 2509, 2647, 2550, 2828, 2746, 2905, 2716, 2857, 2987, 3334, None, 3356, 3226, 2990, 7378, 6806, 7629, 6842, 7373, 3440, 3422, 3630, 3391, 2890, 4136, 4365, 4169, 4874, 4647, 4036, 3846, 4018, 4349, 4434, 3799, 3756, 3803, 3698, 4138, 3044, 3264, 3045, None, None, 3350, 2498, 3342, None, 4877, 2890, None, 2890, None, None, 3148, 3064, 3147, 3138, 3220, 2357, 2423, 2358, 2864, 2665, 2384, 2286, 2380, 2725, 2719, 2446, 2491, 2451, 2657, 2729, 2321, 2666, 2301, 2636, 2627, 2360, 2240, 2354, 2627, 2519, 2625, 2509, 2620, 2699, 2948, 2795, 2905, 2769, 3015, 2987, 3334, None, 3356, 3226, 2990, 7369, 7017, 7620, 6842, 7351, 3553, 3437, 3725, 3492, 4455, 4151, 4331, 4175, 5068, 4627, 4040, 3778, 4036, 4066, 4293, 3825, 3808, 3826, 3698, 3949, 3201, 3264, 3201, None, None, 3350, 2498, 3342, None, 4877, 2890, None, 2890, None, None, 3148, 3064, 3147, 3138, 3220, 2386, 2452, 2380, 2865, 2528, 2367, 2261, 2383, 2725, 2689, 2421, 2408, 2412, 2657, 2729, 2343, 2666, 2326, 2636, 2593, 2338, 2276, 2332, 2482, 2502, 2681, 2548, 2680, 2699, 2884, 2797, 2887, 2781, 3173, 2990, 3314, 3804, 3341, 3226, 2990, 7398, 7398, 7890, 6842, 7545, 3548, 3403, 3731, 3492, 4455, 4175, 4439, 4130, 4888, 4925, 4068, 3778, 4064, 4066, 4293, 3925, 3909, 3918, 3698, 4019, 3284, 3207, 3282, None, None, 3640, None, 3632, None, 4877, None, None, None, None, None, 3055, 3064, 3063, 3155, 2990, 2326, 2452, 2319, 2865, 2387, 2367, 2261, 2383, 2725, 2689, 2415, 2408, 2394, 2657, 2729, 2380, 2666, 2365, 3052, 2651, 2389, 2152, 2381, 2482, 2633, 2681, 2548, 2680, 2699, 2884, 2932, 2887, 2914, 3173, 3703, 3424, 3804, 3504, 3226, 2952, 7600, 7400, 8105, 6842, 7787, 3583, 3461, 3766, 3492, 4455, 4258, 4440, 4216, 4905, 4931, 4068, 3778, 4064, 4

In [123]:
res = []
for i in df['분양가격']:
    # print(i, type(i))
    try :
        tmp = int(i)
    except :
        res.append(i)

list(set(res))

['3,720',
 '2,782',
 '2,720',
 '2,283',
 '2,403',
 '7,311',
 '3,445',
 '2,383',
 '2,200',
 '2,693',
 '2,914',
 '2,389',
 '3,306',
 '2,790',
 '3,658',
 '5,380',
 '2,258',
 '3,778',
 '3,726',
 '2,319',
 '2,309',
 '-',
 '2,076',
 '3,820',
 '2,776',
 '3,714',
 '2,895',
 '2,407',
 '3,883',
 '  ',
 '3,777',
 '3,067',
 '2,491',
 '2,441',
 '2,763',
 '6,880',
 '3,557',
 '2,761',
 '2,223',
 '2,985',
 '2,865',
 '6,931',
 '3,330',
 '2,621',
 '3,378',
 '2,390',
 '6,657',
 '2,271',
 '2,751',
 nan,
 '5,899',
 '3,527',
 '2,838',
 '3,560',
 '2,904',
 '2,504',
 '2,812',
 '2,370',
 '2,077',
 '3,300',
 '3,654',
 '2,203',
 '2,192',
 '4,835',
 '3,477',
 '3,466',
 '2,760',
 '2,363',
 '2,259',
 '2,723',
 '4,027',
 '2,291',
 '2,888',
 '2,242',
 '3,647',
 '3,374',
 '2,581']

In [129]:
res = []
for i in df['분양가격']:
    try:
        tmp = int(i.replace(',',''))
        res.append(tmp)
    except:
        res.append(None)
df['분양가격'] = res

In [132]:
df.head()

   지역                 규모    연도   월    분양가격
0  서울                 전체  2015  10  5841.0
1  서울         전용면적 60㎡이하  2015  10  5652.0
2  서울   전용면적 60㎡초과 85㎡이하  2015  10  5882.0
3  서울  전용면적 85㎡초과 102㎡이하  2015  10  5721.0
4  서울        전용면적 102㎡초과  2015  10  5879.0

In [131]:
df.groupby('지역')['분양가격'].mean()

지역
강원    2412.642023
경기    4072.667925
경남    2814.376923
경북    2547.486166
광주    3049.028169
대구    3663.335938
대전    3128.433333
부산    3679.920755
서울    7225.762264
세종    2984.004000
울산    3043.503145
인천    3633.275862
전남    2304.969349
전북    2348.648855
제주    3432.795652
충남    2501.604743
충북    2316.871698
Name: 분양가격, dtype: float64

In [135]:
df.isnull().sum() / len(df) * 100

지역      0.000000
규모      0.000000
연도      0.000000
월       0.000000
분양가격    7.103219
dtype: float64

In [138]:
df = df.dropna()

In [139]:
df.shape

(4185, 5)

In [140]:
df.isnull().sum()

지역      0
규모      0
연도      0
월       0
분양가격    0
dtype: int64

In [141]:
df.head()

   지역                 규모    연도   월    분양가격
0  서울                 전체  2015  10  5841.0
1  서울         전용면적 60㎡이하  2015  10  5652.0
2  서울   전용면적 60㎡초과 85㎡이하  2015  10  5882.0
3  서울  전용면적 85㎡초과 102㎡이하  2015  10  5721.0
4  서울        전용면적 102㎡초과  2015  10  5879.0

In [144]:
df = df[df['규모']!='전체'].reset_index(drop=True)
df

      지역                 규모    연도   월    분양가격
0     서울         전용면적 60㎡이하  2015  10  5652.0
1     서울   전용면적 60㎡초과 85㎡이하  2015  10  5882.0
2     서울  전용면적 85㎡초과 102㎡이하  2015  10  5721.0
3     서울        전용면적 102㎡초과  2015  10  5879.0
4     인천         전용면적 60㎡이하  2015  10  3488.0
...   ..                ...   ...  ..     ...
3288  경남   전용면적 60㎡초과 85㎡이하  2020   2  3065.0
3289  경남  전용면적 85㎡초과 102㎡이하  2020   2  3247.0
3290  제주         전용면적 60㎡이하  2020   2  4039.0
3291  제주   전용면적 60㎡초과 85㎡이하  2020   2  3962.0
3292  제주        전용면적 102㎡초과  2020   2  3601.0

[3293 rows x 5 columns]

In [145]:
df['규모'].value_counts()

규모
전용면적 60㎡초과 85㎡이하     892
전용면적 60㎡이하           840
전용면적 102㎡초과          826
전용면적 85㎡초과 102㎡이하    735
Name: count, dtype: int64

In [146]:
df['규모'].unique()

array(['전용면적 60㎡이하', '전용면적 60㎡초과 85㎡이하', '전용면적 85㎡초과 102㎡이하',
       '전용면적 102㎡초과'], dtype=object)

In [158]:
res = []
for i in df['규모']:
    i = i.replace('㎡','')
    res.append(i)
df['규모'] = res

      지역               규모    연도   월    분양가격
0     서울        전용면적 60이하  2015  10  5652.0
1     서울   전용면적 60초과 85이하  2015  10  5882.0
2     서울  전용면적 85초과 102이하  2015  10  5721.0
3     서울       전용면적 102초과  2015  10  5879.0
4     인천        전용면적 60이하  2015  10  3488.0
...   ..              ...   ...  ..     ...
3288  경남   전용면적 60초과 85이하  2020   2  3065.0
3289  경남  전용면적 85초과 102이하  2020   2  3247.0
3290  제주        전용면적 60이하  2020   2  4039.0
3291  제주   전용면적 60초과 85이하  2020   2  3962.0
3292  제주       전용면적 102초과  2020   2  3601.0

[3293 rows x 5 columns]

In [168]:
res = []
for i in df['월']:
    if i in [1,2,3]:
        res.append("1분기")
    elif i in [4,5,6]:
        res.append("2분기")
    elif i in [7,8,9]:
        res.append("3분기")
    elif i in [10,11,12]:
        res.append("4분기")
df['분기'] = res
df

      지역               규모    연도   월    분양가격   분기
0     서울        전용면적 60이하  2015  10  5652.0  4분기
1     서울   전용면적 60초과 85이하  2015  10  5882.0  4분기
2     서울  전용면적 85초과 102이하  2015  10  5721.0  4분기
3     서울       전용면적 102초과  2015  10  5879.0  4분기
4     인천        전용면적 60이하  2015  10  3488.0  4분기
...   ..              ...   ...  ..     ...  ...
3288  경남   전용면적 60초과 85이하  2020   2  3065.0  1분기
3289  경남  전용면적 85초과 102이하  2020   2  3247.0  1분기
3290  제주        전용면적 60이하  2020   2  4039.0  1분기
3291  제주   전용면적 60초과 85이하  2020   2  3962.0  1분기
3292  제주       전용면적 102초과  2020   2  3601.0  1분기

[3293 rows x 6 columns]

In [171]:
res = []
for i in df['지역']:
    if i in ['서울', '경기', '인천']:
        res.append("수도권")
    else :
        res.append("지방")
df['권역'] = res
df

      지역               규모    연도   월    분양가격   분기   권역
0     서울        전용면적 60이하  2015  10  5652.0  4분기  수도권
1     서울   전용면적 60초과 85이하  2015  10  5882.0  4분기  수도권
2     서울  전용면적 85초과 102이하  2015  10  5721.0  4분기  수도권
3     서울       전용면적 102초과  2015  10  5879.0  4분기  수도권
4     인천        전용면적 60이하  2015  10  3488.0  4분기  수도권
...   ..              ...   ...  ..     ...  ...  ...
3288  경남   전용면적 60초과 85이하  2020   2  3065.0  1분기   지방
3289  경남  전용면적 85초과 102이하  2020   2  3247.0  1분기   지방
3290  제주        전용면적 60이하  2020   2  4039.0  1분기   지방
3291  제주   전용면적 60초과 85이하  2020   2  3962.0  1분기   지방
3292  제주       전용면적 102초과  2020   2  3601.0  1분기   지방

[3293 rows x 7 columns]

In [174]:
df.isnull().sum()

지역      0
규모      0
연도      0
월       0
분양가격    0
분기      0
권역      0
dtype: int64

In [185]:
season = {
    '1분기':'봄',
    '2분기':'여름',
    '3분기':'가을',
    '4분기':'겨울'
}
season

{'1분기': '봄', '2분기': '여름', '3분기': '가을', '4분기': '겨울'}

In [186]:
df['계절'] = df['분기'].map(season)
df

      지역               규모    연도   월    분양가격   분기   권역  계절
0     서울        전용면적 60이하  2015  10  5652.0  4분기  수도권  겨울
1     서울   전용면적 60초과 85이하  2015  10  5882.0  4분기  수도권  겨울
2     서울  전용면적 85초과 102이하  2015  10  5721.0  4분기  수도권  겨울
3     서울       전용면적 102초과  2015  10  5879.0  4분기  수도권  겨울
4     인천        전용면적 60이하  2015  10  3488.0  4분기  수도권  겨울
...   ..              ...   ...  ..     ...  ...  ...  ..
3288  경남   전용면적 60초과 85이하  2020   2  3065.0  1분기   지방   봄
3289  경남  전용면적 85초과 102이하  2020   2  3247.0  1분기   지방   봄
3290  제주        전용면적 60이하  2020   2  4039.0  1분기   지방   봄
3291  제주   전용면적 60초과 85이하  2020   2  3962.0  1분기   지방   봄
3292  제주       전용면적 102초과  2020   2  3601.0  1분기   지방   봄

[3293 rows x 8 columns]

In [184]:
df['지역'].unique()

array(['서울', '인천', '경기', '부산', '대구', '광주', '대전', '울산', '세종', '강원', '충북',
       '충남', '전북', '전남', '경북', '경남', '제주'], dtype=object)

In [190]:
new_gun = {
    '서울':'수도권',
    '인천':'수도권',
    '경기':'수도권',
    '부산':'경상권',
    '대구':'경상권',
    '광주':'호남권',
    '대전':'충청권',
    '울산':'경상권',
    '세종':'충청권',
    '강원':'강원권',
    '충북':'충청권',
    '충남':'충청권',
    '전북':'호남권',
    '전남':'호남권',
    '경북':'경상권',
    '경남':'경상권',
    '제주':'제주권'
}
df['권역1'] = df['지역'].map(new_gun)
df

      지역               규모    연도   월    분양가격   분기   권역  계절  권역1
0     서울        전용면적 60이하  2015  10  5652.0  4분기  수도권  겨울  수도권
1     서울   전용면적 60초과 85이하  2015  10  5882.0  4분기  수도권  겨울  수도권
2     서울  전용면적 85초과 102이하  2015  10  5721.0  4분기  수도권  겨울  수도권
3     서울       전용면적 102초과  2015  10  5879.0  4분기  수도권  겨울  수도권
4     인천        전용면적 60이하  2015  10  3488.0  4분기  수도권  겨울  수도권
...   ..              ...   ...  ..     ...  ...  ...  ..  ...
3288  경남   전용면적 60초과 85이하  2020   2  3065.0  1분기   지방   봄  경상권
3289  경남  전용면적 85초과 102이하  2020   2  3247.0  1분기   지방   봄  경상권
3290  제주        전용면적 60이하  2020   2  4039.0  1분기   지방   봄  제주권
3291  제주   전용면적 60초과 85이하  2020   2  3962.0  1분기   지방   봄  제주권
3292  제주       전용면적 102초과  2020   2  3601.0  1분기   지방   봄  제주권

[3293 rows x 9 columns]

In [191]:
[i.replace('전용면적 ','') for i in df['규모']]

['60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60초과 85이하',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 '60이하',
 '60초과 85이하',
 '85초과 102이하',
 '102초과',
 ...]

In [196]:
df['규모'].str[5:]

0             60이하
1        60초과 85이하
2       85초과 102이하
3            102초과
4             60이하
           ...
3288     60초과 85이하
3289    85초과 102이하
3290          60이하
3291     60초과 85이하
3292         102초과
Name: 규모, Length: 3293, dtype: object

In [216]:
df['규모'].str.contains('초과')

0       False
1        True
2        True
3        True
4       False
        ...
3288     True
3289     True
3290    False
3291     True
3292     True
Name: 규모, Length: 3293, dtype: bool

In [223]:
df[df['규모'].str.contains('초과')]

      지역               규모    연도   월    분양가격   분기   권역  계절  권역1
1     서울   전용면적 60초과 85이하  2015  10  5882.0  4분기  수도권  겨울  수도권
2     서울  전용면적 85초과 102이하  2015  10  5721.0  4분기  수도권  겨울  수도권
3     서울       전용면적 102초과  2015  10  5879.0  4분기  수도권  겨울  수도권
5     인천   전용면적 60초과 85이하  2015  10  3119.0  4분기  수도권  겨울  수도권
6     인천  전용면적 85초과 102이하  2015  10  3545.0  4분기  수도권  겨울  수도권
...   ..              ...   ...  ..     ...  ...  ...  ..  ...
3286  경북       전용면적 102초과  2020   2  2756.0  1분기   지방   봄  경상권
3288  경남   전용면적 60초과 85이하  2020   2  3065.0  1분기   지방   봄  경상권
3289  경남  전용면적 85초과 102이하  2020   2  3247.0  1분기   지방   봄  경상권
3291  제주   전용면적 60초과 85이하  2020   2  3962.0  1분기   지방   봄  제주권
3292  제주       전용면적 102초과  2020   2  3601.0  1분기   지방   봄  제주권

[2453 rows x 9 columns]

In [217]:
df[~df['규모'].str.contains('초과')]

      지역         규모    연도   월    분양가격   분기   권역  계절  권역1
0     서울  전용면적 60이하  2015  10  5652.0  4분기  수도권  겨울  수도권
4     인천  전용면적 60이하  2015  10  3488.0  4분기  수도권  겨울  수도권
8     경기  전용면적 60이하  2015  10  3126.0  4분기  수도권  겨울  수도권
12    부산  전용면적 60이하  2015  10  2950.0  4분기   지방  겨울  경상권
16    대구  전용면적 60이하  2015  10  2614.0  4분기   지방  겨울  경상권
...   ..        ...   ...  ..     ...  ...  ...  ..  ...
3277  전북  전용면적 60이하  2020   2  2526.0  1분기   지방   봄  호남권
3281  전남  전용면적 60이하  2020   2  2529.0  1분기   지방   봄  호남권
3284  경북  전용면적 60이하  2020   2  2578.0  1분기   지방   봄  경상권
3287  경남  전용면적 60이하  2020   2  2780.0  1분기   지방   봄  경상권
3290  제주  전용면적 60이하  2020   2  4039.0  1분기   지방   봄  제주권

[840 rows x 9 columns]

In [222]:
res = []
for idx, i in enumerate(df['규모']):
    # print('idx = ',idx, 'i = ',i)
    if '초과' in i:
        res.append(idx)
df.iloc[res]

      지역               규모    연도   월    분양가격   분기   권역  계절  권역1
1     서울   전용면적 60초과 85이하  2015  10  5882.0  4분기  수도권  겨울  수도권
2     서울  전용면적 85초과 102이하  2015  10  5721.0  4분기  수도권  겨울  수도권
3     서울       전용면적 102초과  2015  10  5879.0  4분기  수도권  겨울  수도권
5     인천   전용면적 60초과 85이하  2015  10  3119.0  4분기  수도권  겨울  수도권
6     인천  전용면적 85초과 102이하  2015  10  3545.0  4분기  수도권  겨울  수도권
...   ..              ...   ...  ..     ...  ...  ...  ..  ...
3286  경북       전용면적 102초과  2020   2  2756.0  1분기   지방   봄  경상권
3288  경남   전용면적 60초과 85이하  2020   2  3065.0  1분기   지방   봄  경상권
3289  경남  전용면적 85초과 102이하  2020   2  3247.0  1분기   지방   봄  경상권
3291  제주   전용면적 60초과 85이하  2020   2  3962.0  1분기   지방   봄  제주권
3292  제주       전용면적 102초과  2020   2  3601.0  1분기   지방   봄  제주권

[2453 rows x 9 columns]

In [ ]:
# 함수를 만들어 데이터프레임에 적용하려면 -> for, map, apply