In [95]:
pwd

'C:\\Users\\zcode\\Desktop\\py\\데이터분석 및 시각화\\01판다스'

In [98]:
ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 2442-5218

 C:\Users\zcode\Desktop\py\데이터분석 및 시각화\01판다스 디렉터리

2024-09-26  오전 10:04    <DIR>          .
2024-09-26  오전 09:14    <DIR>          ..
2024-09-26  오전 09:39    <DIR>          .ipynb_checkpoints
2022-07-14  오후 10:19           222,679 01 Series 다루기.ipynb
2024-09-26  오전 09:16           489,447 02 DataFrame 다루기.ipynb
2022-07-14  오후 10:19           424,072 03  DataFrame 열추가_열삭제_계산.ipynb
2022-07-14  오후 10:20           378,833 04 결측치(null) 처리.ipynb
2022-07-14  오후 10:20            15,855 05. DataFrame column(컬럼)간 상관관계 계산하기 _After.ipynb
2022-07-14  오후 10:20             4,471 06. DataFrame NaN 데이터 처리_After.ipynb
2022-07-14  오후 10:20             7,994 07. 숫자 데이터와 범주형 데이터의 이해_After.ipynb
2022-07-14  오후 10:21            22,265 08. 숫자 데이터의 범주형 데이터화_After.ipynb
2022-07-14  오후 10:21            28,643 09. 범주형 데이터 전처리 하기(one-hot encoding)_After.ipynb
2022-07-14  오후 10:21             6,751 10. DataFrame group by 이해하기_After.ipynb
2022-07-14  오후 10:21             3,612 11. transform 함수의 이해 및 활용하기_After.ipynb
2022-07-14  오후 10:21             2,751 12. pivot, pivot_table 함수의 이해 및 활용하기_After.ipynb
2022-07-14  오후 10:21            26,426 13. stack, unstack 함수의 이해 및 활용하기_After.ipynb
2022-07-14  오후 10:22            22,881 14. Concat 함수로 데이터 프레임 병합하기_After.ipynb
2022-07-14  오후 10:22             4,864 15. Merge _ join 함수로 데이터 프레임 병합하기_After.ipynb
2024-09-26  오전 09:14    <DIR>          data
2024-09-26  오전 09:14    <DIR>          실습
2024-09-26  오전 10:03             6,221 엑셀.xlsx
2024-09-26  오전 10:05               169 연습.csv
2021-06-13  오후 07:18               409 차트에서 한글폰트 _ 마이너스 기호 나오기 하기.txt
2022-07-14  오후 10:22           385,988 참고_Groupby 실습.ipynb
              19개 파일           2,054,331 바이트
               5개 디렉터리  383,023,026,176 바이트 남음

In [96]:
import pandas as pd

In [99]:
df = pd.read_csv("./data/house_price_clean.csv")
df

      지역             규모    연도   월   분양가
0     서울          60㎡이하  2015  10  5652
1     서울    60㎡초과 85㎡이하  2015  10  5882
2     서울   85㎡초과 102㎡이하  2015  10  5721
3     서울         102㎡초과  2015  10  5879
4     인천          60㎡이하  2015  10  3488
...   ..            ...   ...  ..   ...
3288  경남    60㎡초과 85㎡이하  2020   2  3065
3289  경남   85㎡초과 102㎡이하  2020   2  3247
3290  제주          60㎡이하  2020   2  4039
3291  제주    60㎡초과 85㎡이하  2020   2  3962
3292  제주         102㎡초과  2020   2  3601

[3293 rows x 5 columns]

In [100]:
# 데이터프레임의 행, 열 갯수 확인 - 데이터의 규모를 확인한다.
df.shape

(3293, 5)