In [2]:
pwd

'C:\\Users\\zcode\\Documents\\py\\1차'

In [5]:
a, b = map(int, input('공백으로 나눠 숫자 2개 입력 :').split())
print('a =', a, type(a))
print('b =', b, type(b))

공백으로 나눠 숫자 2개 입력 : 35 60

a = 35 <class 'int'>
b = 60 <class 'int'>

In [7]:
점수 = 3000
print('내 점수는 ' + str(점수) + '입니다.')

내 점수는 3000입니다.

In [10]:
점수 = 3000
print(f'내 점수는 {점수:,}점 입니다.')

내 점수는 3,000점 입니다.

In [11]:
점수 = 3000.356
print(f'내 점수는 {점수:,}점 입니다.')

내 점수는 3,000.356점 입니다.

In [14]:
점수 = 3000.356
print(f'내 점수는 {점수:,.2f}점 입니다.')

내 점수는 3,000.36점 입니다.

In [15]:
점수 = 3
print(f'내 점수는 {점수:02d}점 입니다.')

내 점수는 03점 입니다.

In [16]:
점수 = 23
print(f'내 점수는 {점수:02d}점 입니다.')

내 점수는 23점 입니다.

In [17]:
a = []
a = list()

In [18]:
a = [3]
print(a, type(a))
b = (3)
print(b, type(b))
b = (3,)
print(b, type(b))

[3] <class 'list'>
3 <class 'int'>
(3,) <class 'tuple'>

In [25]:
a = []
a.append('가을')
print(a)
a.append('3')
print(a)
a.append([4,5,6,7])
print(a)
print(a.pop())
print(a)
b = [4, 5, 6, 7]
a.append(b)
print(a)
a.extend(b)
print(a)

['가을']
['가을', '3']
['가을', '3', [4, 5, 6, 7]]
[4, 5, 6, 7]
['가을', '3']
['가을', '3', [4, 5, 6, 7]]
['가을', '3', [4, 5, 6, 7], 4, 5, 6, 7]