In [69]:
pwd

'C:\\Users\\zcode\\Documents\\py\\1차'

In [73]:
w = 'abc 123.567 bbb' # abc-123-678-bbb
a = w.replace(" ","-").replace(".","-")
print(a)

abc-123-567-bbb

In [76]:
a = '       \t\t\t\t\t\t\n abc 123 \t\t\t\t\t\t\t\n   '
print(a)
a.strip()

 abc 123

'abc 123'

In [80]:
a='[abc]' # abc
print(a.strip('[] '))
print(a.strip('[]'))
print(a.strip('['))
a='[abc]]]]]' # abc
print(a.strip('[] '))
print(a.strip('[]'))
print(a.strip('['))

abc
abc
abc]
abc
abc
abc]]]]]

In [83]:
a = ['서울시','영등포구','여의도동','937']
b = ' '.join(a)
print(b)
b = '-'.join(a)
print(b)

서울시 영등포구 여의도동 937
서울시-영등포구-여의도동-937

In [89]:
'''
결과 :
강남구 -> 3
중랑구 -> 1
'''
add = [
    '서울시 강남구 00동',
    '서울시 중랑구 00동',
    '서울시 강남구 111',
    '서울시 강남구 333'
]
res = []
for i in add:
    a = i.split(" ")
    res.append(a[1])
uni = list(set(res))

print('결과 :')
for i in uni :
    print(i,'->',res.count(i))

['서울시', '강남구', '00동']
['서울시', '중랑구', '00동']
['서울시', '강남구', '111']
['서울시', '강남구', '333']
결과 :
중랑구 -> 1
강남구 -> 3

In [93]:
'''
결과 :
강남구 -> 3
중랑구 -> 1
'''
add = [
    '서울시 강남구 00동',
    '서울시 중랑구 00동',
    '서울시 강남구 111',
    '서울시 강남구 333'
]
res = []
for i in add:
    print(i.split()[1])
    res.append(i.split()[1])
uni = list(set(res))
print(uni)
print('결과 :')
for i in uni :
    print(i,'->',res.count(i))

강남구
중랑구
강남구
강남구
['중랑구', '강남구']
결과 :
중랑구 -> 1
강남구 -> 3

In [96]:
'''
결과 :
강남구 -> 3
중랑구 -> 1
'''
add = [
    '서울시 강남구 00동',
    '서울시 중랑구 00동',
    '서울시 강남구 111',
    '서울시 강남구 333'
]
res = []
for i in add:
    print(i.split()[0],i.split()[1])
    res.append(i.split()[0]+" "+i.split()[1])
uni = list(set(res))
print(uni)
print('결과 :')
for i in uni :
    print(i,'->',res.count(i))

서울시 강남구
서울시 중랑구
서울시 강남구
서울시 강남구
['서울시 중랑구', '서울시 강남구']
결과 :
서울시 중랑구 -> 1
서울시 강남구 -> 3

In [97]:
'''
결과 :
강남구 -> 3
중랑구 -> 1
'''
add = [
    '서울시 강남구 00동',
    '서울시 중랑구 00동',
    '서울시 강남구 111',
    '서울시 강남구 333'
]
res = []
for i in add:
    res.append(' '.join(i.split()[:-1]))
uni = list(set(res))
print(uni)
print('결과 :')
for i in uni :
    print(i,'->',res.count(i))

['서울시 중랑구', '서울시 강남구']
결과 :
서울시 중랑구 -> 1
서울시 강남구 -> 3

In [105]:
path = r'C:\Users\test\.conda\envs\smart\pyhon.exe'
res = path.split("\\")
print(res[-1])

pyhon.exe

In [111]:
a = '서울 강남구 000동'
print(a.find('서울'))
print(a.find('부산'))
print(a.index('서울'))
# print(a.index('부산')) -> ValueError: substring not found

0
-1
0

In [117]:
# 5/0 -> ZeroDivisionError: division by zero
try :
    print("시작")
    print(5/0)
    print("참 잘 했어요")
except :
    print("0으로 못 나눔")
    print('-'*20)

try :
    print("시작")
    print(5/2)
    print("참 잘 했어요")
except :
    print("0으로 못 나눔")
    print('-'*20)

시작
0으로 못 나눔
--------------------
시작
2.5
참 잘 했어요

In [118]:
try:
    a = '서울 강남구 000동'
    print(a.index('서울'))
except :
    print("없다")

try:
    a = '서울 강남구 000동'
    print(a.index('부산'))
except :
    print("없다")

0
없다

In [121]:
a = [1,2,3,4]
b = [100,200,300,400]
a1 = []
b1 = []
# list(range(len(a)))
for i in range(len(a)) :
    a1.append(a[i]*2)
    b1.append(b[i]*2)
print('a1 =', a1)
print('b1 =', b1)

a1 = [2, 4, 6, 8]
b1 = [200, 400, 600, 800]

In [127]:
a = [1,2,3,4]
b = [100,200,300,400]
for i, j in zip(a,b):
    print(i)
    print(j)
    print('-'*20)

1
100
--------------------
2
200
--------------------
3
300
--------------------
4
400
--------------------

In [132]:
a = [1,2,3,4]
b = [100,200,300,400]
a1 = []
b1 = []
for i, j in zip(a,b):
    a1.append(i*2)
    b1.append(j*2)
print('a1 =', a1)
print('b1 =', b1)

a1 = [2, 4, 6, 8]
b1 = [200, 400, 600, 800]

In [137]:
a = {
    '이름' : '홍길동',
    '나이' : 25,
    '직업' : '학생'
}
print(a)
for i in a:
    print(i,a[i])

{'이름': '홍길동', '나이': 25, '직업': '학생'}
이름 홍길동
나이 25
직업 학생

In [138]:
a = {
    '이름' : '홍길동',
    '나이' : 25,
    '직업' : '학생'
}
print(a)
for key, value in a.items():
    print(key, value)

{'이름': '홍길동', '나이': 25, '직업': '학생'}
이름 홍길동
나이 25
직업 학생

In [145]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
date_dict = dict(zip(date, close_price))
print(date_dict)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}