In [5]:
def print_with_smile ():
    input_str = input("문자를 입력하세요.")
    print(input_str + ":D")
print_with_smile ()

문자를 입력하세요. 안녕하세요

안녕하세요:D

In [7]:
def print_upper_price () :
    input_price = int(input("현재 가격을 입력하세요."))
    print(input_price * 1.3)
print_upper_price ()

현재 가격을 입력하세요. 10000

13000.0

In [9]:
num1 = int(input("num1 :"))
num2 = int(input("num2 :"))

def print_sum (num1, num2) :
    return num1 + num2

print(print_sum (num1, num2))

num1 : 5
num2 : 8

13

In [10]:
def print_arithmetic_operation(num1,num2):
    print(f'{num1}+{num2}={num1+num2}')
    print(f'{num1}-{num2}={num1-num2}')
    print(f'{num1}*{num2}={num1*num2}')
    print(f'{num1}/{num2}={num1/num2}')

print_arithmetic_operation(3, 4)

3+4=7
3-4=-1
3*4=12
3/4=0.75

In [11]:
def print_max(num1,num2,num3):
    if (num1 > num2) and (num1 > num3):
        print(num1)
    elif (num2 > num1) and (num2 > num3):
        print(num2)
    else :
        print(num3)
print_max(5,19,17)

19

In [13]:
def print_reverse(string) :
    string = string[::-1]
    print(string)
print_reverse("python")

nohtyp

In [14]:
def print_score (score):
    res = 0
    for i in score:
        res += i
    print(res / len(score))
print_score ([1, 2, 3])

2.0

In [15]:
def print_even (num) :
    for i in num:
        if i % 2 == 0 :
            print(i)
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [17]:
def print_keys (dic) :
    key_list = dic.keys()
    for i in key_list :
        print(i)
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [22]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
def print_value_by_key  (dic, date):
    print(dic[date])

print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [30]:
def print_5xn(string):
    i = 0
    while i < len(string):
        for j in range(5):
            print(string[i],end='')
            i += 1
        print()
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [36]:
def printmxn(string, num):
    i = 0
    while i < len(string):
        for j in range(3):
            if i == len(string):
                break
            print(string[i],end='')
            i += 1
        print()
printmxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [40]:
def calc_monthly_salary(annual_salary):
    salary = int(annual_salary / 12)
    print(salary)
calc_monthly_salary(1200000)

1000000

In [42]:
def make_url(site):
    return "www."+site+".com"
print(make_url("naver"))

www.naver.com

In [51]:
def make_list(string):
    return list(string)

make_list("abcd")

['a', 'b', 'c', 'd']

In [52]:
def pickup_even(num_list):
    res = []
    for i in num_list:
        if i % 2 == 0 :
            res.append(i)
    return res

print(pickup_even([3, 4, 5, 6, 7, 8]))

[4, 6, 8]

In [56]:
def convert_int(string) :
    return int(string.replace(',',''))
print(convert_int("1,234,567"))

1234567